body.sigin-body{
    background-color: rgb(210, 241, 255);
}
.container.signin-container{
    margin-top: 8%;

}
.card.signin-card {
    padding: 40px 0 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

img.signin-img {
    margin: 0 auto 1rem;
    width: 100px;
}
.btn.sigin-btn{
    width: 100%;
    color: #fff;
    background-color: #d64829;
}